name: PlatformIO Build

on: 
  workflow_dispatch:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        env: [debug, release]

    steps:
    - uses: fusion-engineering/setup-git-credentials@v2
      with:
        # GIT_CREDENTIALS secret should contain https://<username>:<token>@github.com
        # where token is a Personal Access Token generated on https://github.com/settings/tokens
        # It can also contain the account password but this might change in time 
        credentials: ${{secrets.GIT_CREDENTIALS}}
    - uses: actions/checkout@v3
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Cache PlatformIO
      uses: actions/cache@v2
      with:
        path: ~/.platformio
        key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade gitpython
        pip install --upgrade platformio
    - name: Run PlatformIO
      run: |
        # install libs before build
        pio pkg install -e ${{ matrix.env }}
        pio run -e ${{ matrix.env }}

  documentation:
    needs: build
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest

    steps:
    - name: checkout NukiBleEsp32
      uses: actions/checkout@v3

    - name: doxygen
      uses: mattnotmitt/doxygen-action@edge
      with:
        doxyfile-path: Doxyfile

    - name: upload
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./documentation/html
        destination_dir: docs
